
<ion-content>
  <img  style="width: auto; height: auto;" src="assets/login.png">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Login</ion-card-title>
    </ion-card-header>
  <ion-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
      <ion-item fill="solid">
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
  <div>
    <ng-container *ngFor="let validation of validation_message.email">
      <div *ngIf="
      loginForm.get('email')?.hasError(validation.type) && 
      (loginForm.get('email')?.dirty || 
      loginForm.get('email')?.touched) 
      ">
        {{validation.message}} 
      </div>
    </ng-container>
  </div>
      <ion-item fill="solid">
        <ion-label  position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validation_message.password">
          <div *ngIf="
          loginForm.get('password')?.hasError(validation.type) && 
          (loginForm.get('password')?.touched ||
          loginForm.get('password')?.dirty)
          ">
            {{validation.message}}
          </div>
        </ng-container>
      </div>
  <br>
  <ion-button color="medium"
  expand="block"
  shape="round"
  [disabled]="!loginForm.valid"
  type="submit">
      Ingresar
  </ion-button>
    </form>
</ion-card-content>
  </ion-card>
  {{ errorMessage }}
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>¿No tienes cuenta?</p>
    <ion-buttons slot="end">
    <ion-button (click)="registrarse()" >Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
